/* Defult CSS */
html,
body {
    min-height: 100%;
}

img {
    max-width: 100%;
}

.d-table {
    display: table;
    width: 100%;
    height: 100%;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/* Typograpgy */
body {
    
}
